# Banco de dados SQLite (será criado automaticamente em dev.db)
DATABASE_URL="file:./dev.db"

# Porta (padrão: 3333)
PORT=6969

# URL do Grupo C (Pagamentos) - TODO: Substituir pela URL real
GRUPO_C_URL="http://localhost:3000/pagamentos"
