# Banco de dados SQLite (será criado automaticamente em dev.db)
DATABASE_URL="file:./dev.db"

# Porta (padrão: 3333)
PORT=6999

# URL do Grupo C (Pagamentos) - TODO: Substituir pela URL real
# Para testes: https://webhook.site/
GRUPO_C_URL="https://webhook.site/352e8e10-1cbd-49c5-bb6f-daf490a3d276"
